[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group SAP-Gerrit
	owner = group user/Luca Milanesio (lucamilanesio)
	owner = group user/Thomas Dräbing (tdraebing)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group SAP-Gerrit
	label-Code-Review = -2..+2 group user/Thomas Dräbing (tdraebing)
	label-Verified = -1..+1 group SAP-Gerrit
	label-Verified = -1..+1 group user/Thomas Dräbing (tdraebing)
	push = group SAP-Gerrit
	push = group user/Thomas Dräbing (tdraebing)
	read = group SAP-Gerrit
	read = group user/Thomas Dräbing (tdraebing)
	rebase = group SAP-Gerrit
	rebase = group user/Thomas Dräbing (tdraebing)
	removeReviewer = group SAP-Gerrit
	removeReviewer = group user/Thomas Dräbing (tdraebing)
	submit = group SAP-Gerrit
	submit = group user/Thomas Dräbing (tdraebing)
[access "refs/heads/*"]
	create = group SAP-Gerrit
	create = group user/Thomas Dräbing (tdraebing)
	push = group SAP-Gerrit
	push = +force group user/Thomas Dräbing (tdraebing)
	pushMerge = group SAP-Gerrit
	pushMerge = group user/Thomas Dräbing (tdraebing)
	read = group SAP-Gerrit
	read = group user/Thomas Dräbing (tdraebing)
[access "refs/tags/*"]
	push = group SAP-Gerrit
	push = group user/Thomas Dräbing (tdraebing)
	push = +force group user/Thomas Dräbing (tdraebing)
